body {
    margin: 0px;
    overflow: hidden;
}

.window-border {
    height: 4.5%;
    width: 100%;
    border: 1px black;
    padding:1px;
    border-style: solid;
}

 .window {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
} 